  /* Replace most of the fonts */
  /* OPTIONAL: In this section, replace code lines with their commented-out counterparts next to them, to use Dyslexia-friendly font */
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=OpenDyslexic&display=swap);
*:not(pre, pre *, code, .far, .fa, [class*="fa-"], .glyphicon, [class*="vjs-"], .fab, .fa-github, .fas, .material-icons, .icofont, .typcn, mu, [class*="mu-"], .glyphicon, [class*="icon"], .gog-icons, .google-material-icons) {
    font-family: Ubuntu !important; /* font-family: OpenDyslexic !important; */
    font-weight: 500; /* font-weight: 700; */
    text-shadow: 0px 0px 5px black;
}

  /* Animations declared */
@keyframes rulerSnap{
  50% {transform: rotate(20deg);}
}
@keyframes wobbling{
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
}
@keyframes wobbling2{
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
}
@keyframes bleed{
  0% {background-color: rgba(0,0,0,0);}
  50% {background-color: rgba(150,0,200,0.5);}
  100% {background-color: rgba(0,0,0,0);}
}
@keyframes waveClipPath {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

  /* Chat Window */
.chat-log-container { /* Incoming text messages */
  font-size: 20pt;
  padding:0px, 0px, 0px, 0px;
  overflow: hidden;
  max-height: min(800px, 50vh);
  max-width: min(800px, 50vw);
}
.chat-container{ /* Chat box */
  padding:0px, 0px, 0px, 0px;
  background:none;
  position: absolute;
  left: 15%;
  bottom: 25%;
}
.chat-input { /* Written text */
 font-size: 20pt;
 padding:0px, 0px, 0px, 0px;
}
.chat-message-name { /*Message author*/
  font-size: 15pt;
}
input::placeholder{ /* Press T to write placeholder text */
    font-family: Ubuntu !important;
    font-size: 16px;
    text-transform: capitalize;
    visibility: hidden;
}
.chat-container.wrinkledPaper.up, input.dialog-text-input.wrinkledPaper.chat-input, .chat-message-container, .chat-message-content{
  padding:0px, 0px, 0px, 0px;
  background:none;
}

  /* Menus */
div.class-selection-image-background.wrinkledPaper { /* Class select icon backgrounds */
  animation: bleed 12s linear infinite;
  background-image: linear-gradient(to bottom right, rgba(40,0,80,0.2), rgba(80,00,130,0.4));
  /* background-image: linear-gradient(to bottom right, rgba(100,0,100,0.2), rgba(180,0,180,0.5)); */
}
h3.dialogTitle.blueNight { /* Class names */
  text-transform: capitalize;
  animation: wobbling 1s ease-in-out infinite;
}
div.dialog.wrinkledPaper { /* Background of all menu windows */
  /* background: transparent; */
  /* background-color: rgba(0,10,90,0.1);*/
  background-image: linear-gradient(to bottom right, rgba(10,0,20,0.1), rgba(40,00,90,0.25));
  /* border-radius:20px; */
  clip-path: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%);
}
h3.settings-group-header { /* Settings category separators */
  background: transparent;
  background-image: linear-gradient(to bottom right, rgba(0,10,20,0.1), rgba(0,10,90,0.1));
}
.dialog-checkbox-input, .dialog-toggle-input, .dialog-range-input,input.dialog-range-input[type="range"]{ /* Toggle buttons */
  background-image: linear-gradient(to bottom right, rgba(100,80,120,0.5), rgba(120,80,190,0.7));
  border: 1px solid black;
  border-radius: 20px;
}
button.dialog-button.blueNight.wrinkledPaper {
  text-transform: capitalize;
  background-image: linear-gradient(to bottom right, rgba(0,10,20,0.2), rgba(0,10,90,0.4));
  border-radius: 15%;
}
.mainInfoText{ /*Click to Join*/
  padding: 0px;
  margin: 0px;
  top: 94%;
  text-align: center;
}
div.main-menu-button-text.whiteBigText.blueNight, h2.dialogTitle.blueNight, h2.paged-view-page-header-title, .dialog-text-input, select.dialog-select-input.blueNight{text-transform: capitalize;}
div.main-menu-username.whiteBigText { /* Title Screen Username */
 font-weight: 800;
 background-image: linear-gradient(to right, rgba(200,0,200,1),rgba(150,0,150,0.4), rgba(0,0,0,0));
 animation: wobbling2 1s ease-in-out infinite;
}
.scoreOffsetNotificationAnim { /* Kill Notifications */
  text-transform: capitalize;
}

  /* In-Game UI */
.playersListContainer, .playersListTeamTable, .playersListItem{ /*Players Scoreboard background*/
  background: transparent;
  filter: saturate(65%);
}
.playersListTeam.wrinkledPaper{ /*Players Scoreboard (rows background)*/
  background: none;
}
.playersListTeam{ /* Players Scoreboard (text) */
  opacity: 100%;
}
.gameOverStatsTable, .gameoverStatsContainer{ /* End game stats screen */
  filter: saturate(25%);
}
.flag-score-container, .health-ui-container{
  opacity: 50%;
}
.crosshair-container{ /* Crosshair box */
  scale: 60%;
}
.crosshair-line{ /* Crosshair */
  /*
  height: 2px;
  border-width: 1px;
  */
}

  /* Misc */
.gameAd.desktop, .gameAd.mobile{
  display: none;
  visibility: hidden;
  background: none;
}
.touchListener.focus{cursor: default;} /* Fixes invisible mouse while pointerLockChange is disabled. */
div.ownedCoinsContainer.wrinkledPaper.allow-select {
  visibility: hidden;
}
.dialogCurtain, div.fullScreen{ /* Screen dimming */
  background: none;
}
